{% extends 'BeachteamBundle::layout.html.twig' %}
{% block title %}Tornooien{% endblock%}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Locatie</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tournament in tournaments %}
                        <tr>
                            <td>{{ tournament.start|date('Y-m-d') }} - {{ tournament.end|date('d-m-Y') }}</td>
                            <td>{{ tournament.location }}</td>
                            <td>{{ tournament.type }}</td>
                        </tr>
                    {% else %}
                        <p>Er zijn nog geen tornooien ingegeven.</p>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}