{% extends 'BeachteamBundle::layout.html.twig' %}
{% block title %}Nieuws{% endblock%}
{% block body %}
    <div class="row">
        {% for image in images %}
            {% set url = 'uploads/gallery/' ~ image.url %}
            <div class="col-sm-6 col-md-4 col-lg-3 mediafooter">
                <a href="{{ path('BeachteamBundle_media_detail', {'id': media.id }) }}" class="thumbnail">
                    <img src="{{ asset(url) }}" alt="image">
                    <p class="media_title">{{ image.item.title }}</p>
                    <p class="media_createddate">Created on: {{ image.item.created|date("Y-m-d") }}</p>
                </a>
            </div>
        {% else %}
            <p>Er zijn nog geen afbeeldingen toegevoegd.</p>
        {% endfor %}
    </div>
{% endblock %}